#Nome ou Título do Projeto:
APP_NAME=Ecommerce

#Configurações de Banco de Dados:
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=db_ecommerce
DB_USERNAME=root
DB_PASSWORD=nokia5233

PATH_TEMPLATE_ADMIN=/resource/admin/AdminLTE-2.3.11
PATH_TEMPLATE_LOJA=/resource/site
BASE_DIR=/home/douglas/sites/projeto-ecommerce

#Configurações para Envio de E-mail:
MAIL_DEFAULT=conveswebtecnologia@gmail.com
MAIL_PASSWORD=a77448576
MAIL_SENDER=LojaVirtual
MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
